# Binaries for programs and scripts
*.exe
*.exe~
*.dll
*.so
*.dylib
*.dSYM
*.out

# Build directory (target)
**/target/

# Cargo.lock for libraries, keep if you're using binary crates
**/Cargo.lock

# Debug log files
*.log

# Rust specific
**/target/

# Ignore the node_modules directory (if applicable)
node_modules/

# Backup files
*.bak
*.swp
*.tmp
*.old

# IDEs and editors
.vscode/
.idea/
*.iml

# MacOS-specific files
.DS_Store

# For Sublime Text
*.sublime-project
*.sublime-workspace

# For JetBrains IDEs like IntelliJ, CLion, etc.
*.iws
*.ipr

# Compiled Object files
*.o
*.obj

# Environment variables
.env
