# Enable the server mode to accept RPC requests
server=1
rpcuser=${RPC_USER}
rpcpassword=${RPC_PASSWORD}
rpcallowip=${RPC_ALLOW_IP}
rpcbind=${RPC_BIND}
rpcport=${RPC_PORT}
prune=${PRUNE}
listen=1
listenonion=0
onlynet=ipv4
